@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}

.font-playfair {
  font-family: 'Playfair Display', Georgia, serif !important;
}

.font-inter {
  font-family: 'Inter', system-ui, sans-serif !important;
}

/* Scrollbar hide utility */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
